/*=== fuentes ===*/

@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins&display=swap');

/*=== Aplicando CSS Global===*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
}

body{
    font-family: poppins;
    background-color: #eff5f5ff;
}

h1 {
    font-family: Belanosima;
    color: _#181823ff;
}

h3 {
    font-family: Belanosima;
    color: _#181823ff;
}

html{
    scroll-behavior: smooth;
}

/*=== Aplicando CSS a clases===*/
#logo{
    width: 150px;
    margin: auto;
    padding-top: 10px;
    padding-right: 3rem;
}

#barrasuperior {
    width: 100%;
}

#banner{
    margin-top: 5rem;
    position: relative;
    display: inline-block;
    text-align: center;
}

#textobanner{
    font-family: Belanosima;
    font-size: 80px;
    color: #FC7300;
    background-color: rgb(255, 255, 255, 0.5);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#propuestaeducativa a{
    color:#00425A;
    text-decoration: none;
}

#itempropuesta {
    width: 80%;
    text-align: center;
}
#itempropuesta img:hover {
    transform: scale(0.9);
}

.formulario {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.btn-primary {
    background-color: #FC7300;
    border-color: #FC7300;
}

.enviarmensaje {
    color: #eff5f5ff;
    background-color: #00425A;
    border-color: #00425A; 
    margin-top: 1rem; 
}
.enviarmensaje:hover {
    background-color: #FC7300;
    border-color: #FC7300;
    color: #eff5f5ff;
}


.btn-primary:hover {
    background-color: #00425A;
    border-color: #00425A;
}

/*=== Footer===*/

#piePagina{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
    justify-items: center;
    background-color: #181823ff;
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
}
#piePagina a:link{
    color: #00425A;
}
#redessociales li{
    padding: 10px;
}

ion-icon{
    color: #00425A;
    font-size: 2rem;
}

#mapita {
    padding: 10px;
}

/*=== Aplicando comportamiento resposive o adaptativo===*/

/*=== Trabajando con CSS-GRID===*/
@media (min-width: 320px) {
    .contacto {
        position: relative;
    }
    #textobanner{
        font-size: 30px;
    }

    #piePagina{
        display: grid;
        grid-template-columns: 1fr;
    }
    #quienessomos {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }
    
    #porquelegirnos {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 1rem; 
    }

    #noticias {
        display: grid;
        grid-template-columns: 1fr;  
        gap: 1rem;
        padding-bottom: 3rem;
    }
    #propuestaeducativa {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
}
@media (min-width: 768px) { 
    #textobanner{
        font-size: 60px;
    }

    #piePagina{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 0.5fr;
    }
    #quienessomos {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 1rem;
    }
    
    #porquelegirnos {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 1rem; 
    }
    #noticias {
        display: grid;
        grid-template-columns: 2fr 1fr;  
        gap: 1rem;
        padding-bottom: 3rem;
    }
    .contacto {
        position: relative;
    }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #quienessomos {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 1rem;
        gap: 3rem;
    }
    
    #porquelegirnos {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 1rem; 
    }

    #noticias {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;  
        gap: 1rem;
        padding-bottom: 3rem;
    }
    .contacto {
        position: absolute;
        right: 0px;
        width: 300px;
        padding: 10px;
    }
    #propuestaeducativa {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        padding: 50px;
    }
}




